/* general elements */


body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* classes */

/* container class */

.container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

/* header class */

.header {
    margin: 0;
    padding: 2% 10%;
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

.header h1 {
    color: #F9FAF8;
}
.header ul {
    display: flex;
    gap: 16px;
    font-size: 20px;
    flex-wrap: wrap;
}

.header a {
    color: #E5E7EB;
}

/* hero main */

.hero-main {
    margin: 0;
    padding: 2% 7%;
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: auto;
    justify-content: space-between;
    align-items: center;
}

.hero-main .text {
    margin: 0%;
    padding: 1%;
    width: 35%;
    /* max-width: 40%; */
}

.hero-main .text h1 {
    color:#F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.hero-main .text p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-main .text button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    border: 0;
    border-radius: 6px;
    padding: 10px;
}

.hero-main .text button:hover {
    background-color: #E5E7EB;
    color: #3882F6;
}

/* .hero-main .image {
    background-color: rgba(200, 200, 200, 0.5);
    margin: 1%;
} */

.hero-main img {
    width: 800px;
    border-radius: 10px;
    margin: 0 0 0;
}

/* random info */

.random-info {
    margin: 1% 7% 1% 7%;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: auto;
    justify-content: space-between;
}

.random-info h2 {
    margin: 0;
    padding: 0;
    margin-top: 1%;
    font-weight: 750;
    color: #1F2937;
    font-size: 36px;
    text-align: center;
}

.random-info .img-contain {
    margin: 2% 1% 2% 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:baseline;
    justify-content: center;
}

.random-info .img-contain .images {
    display: table;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: auto;
    color: black;
    max-width: 20%;
    float: left;
    margin: 0 1%;
}

.random-info .img-contain .images img {
    border: 8px solid rgba(56, 130, 246, 80%);
    border-radius: 8px;
    object-fit: cover;
    width: 300px;
    height: 200px;
}

.random-info .img-contain .images p {
    /* word-break: break-all; */
    white-space: normal;
}


/* quote */
.quote {
    background-color: #E5E7EB;
    margin: 0;
    padding: 5% 15% 5% 15%;
    align-content: center;
    font-size: 36px;
    color: #1F2937;
}

.quote #saidby {
    font-weight: 800;
    text-align: right;
    margin-right: 5%;
}


/* call to action */

.call-to-action {
    display: flex;
    background-color: #3882F6;
    align-items: center;
    align-content: center;
    margin: 10% 15%;
    padding: 2.5% 10%;
    justify-content: space-between;
    border-radius: 10px;
    font-size: 20px;
}

.call-to-action p {
    margin: 0;
}

.call-to-action button {
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 20px;
    padding: 1% 5%;
}

footer {
    background-color: #1F2937;
    margin: 0;
    padding: 2.5% 5%;
    text-align: center;
    font-size: 24px;
}